.navbar-trans {
    background-color:#2b2b2b;
    color:#cdcdcd;
    border-width:5px;
    border-color: white;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color:#f44d3c ;
}

.navbar-trans li>a:focus,.navbar-trans li.active {
    background-color:#f44d3c ;
    color:#333;
}

.navbar-trans li>a:hover {
    background-color:#f44d3c ;
    color:#5a9bfc;
    opacity:0.5;
}

.navbar-trans a{
    color:white;
    letter-spacing:1px;
}

.navbar-trans .form-control:focus {
    border-color: white;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

body{
    background:#2e2e2e !important;
}

.btn-primary {
    width: 125px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.text-center h1 {
    color:white;
}

.text-center h3 {
    color:white;
}

.circleBase {
    width:100px;
    height:100px;
    background-color:#ff7245 ;
    border-radius:100%;
    text-align:center;
    line-height:100px;
}

.circleSpan{
    line-height: normal;
    display:inline-block;
    vertical-align: middle;
}

.sleeps {
    background-color: #5a9bfc;
    margin-right:10px;
    padding: 20px;
    font-size:15px;
}

.moves {
    background-color: #5a9bfc;
    margin-left:10px;
    margin-right:10px;
    padding: 20px;
    font-size:15px;
}

.workouts {
    background-color: #5a9bfc;
    margin-left:10px;
    padding: 20px;
    font-size:15px;
}

.averages {
    background-color: #5a9bfc;
    margin-top:20px;
    margin-bottom:10px;
    padding: 20px;
    font-size:15px;
    font-family:sans-serif;
}


.totals {
    background-color: #5a9bfc;
    margin-top:20px;
    margin-bottom:10px;
    padding: 20px;
    font-size:15px;
}

.circleAndTextSleeps {
    margin: 5px;
    padding:5px;
    
}

.parent{
    text-align:center;
}

.insideCircle {
    font-size: 18px
}

.child{
    margin:10px;
    display: inline-block;
}

.sideText{
    color:white;
}

.addBorder{
    border-bottom:2px solid white;
}
