<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jawbone Up Website</title>

    <!-- Bootstrap Core CSS -->
    <link rel ="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="/indexPage.css" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">-->

</head>

<body>
	<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Jawbone Data Website</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
              <li><a href="/login/jawbone">Login with Jawbone</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
        </div>
      </div>
  </nav>
    <!-- Navigation -->


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Jawbone Data Website</h1>
                        <h3>Use your data!</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/login/jawbone" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Login Now!</span></a>
                            </li>
                            <li>
                                <a href="https://jawbone.com/up/trackers?gclid=Cj0KEQiAj8uyBRDawI3XhYqOy4gBEiQAl8BJbXqIXs5Dmb72gZzwLru3r9WHfbb7Nms08nnUE04e7wgaAvt48P8HAQ" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">View Jawbone Products</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">View more detailed data</h2>
                    <p class="lead">View new info about your Jawbone data. From daily, yearly, to overall data including beautiful charts</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/charts.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Compete with friends<br> and in weekly challenges!</h2>
                    <p class="lead">See how your teammates are doing as they motivate you to work harder. Also participate in weekly challenges against all website users!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/compete.JPG" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Complete achievements<br>and work through levels</h2>
                    <p class="lead">Push yourself to complete the many achievements, and focus your moves and sleeps to beat levels.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/levelsPage.JPG" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Start Viewing Data Now!</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="/login/jawbone" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Login</span></a>
                        </li>
                        <li>
                            <a href="https://jawbone.com/up/trackers?gclid=Cj0KEQiAj8uyBRDawI3XhYqOy4gBEiQAl8BJbXqIXs5Dmb72gZzwLru3r9WHfbb7Nms08nnUE04e7wgaAvt48P8HAQ" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">View Jawbone Products</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <link rel ="stylesheet" href="bower_components/bootstrap/dist/js/bootstrap.min.js">

</body>

</html>