<!DOCTYPE html>
<html>
<head>
	<title> Jolly Up Website</title>
	<link href="/indexStyle.css" rel="stylesheet" type="text/css">
  	<link rel ="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="text-center">
	<h1 class="headerClass">Jawbone Up Website</h1>
	<h3>Login to view your data!</h3>
	<a href="/login/jawbone" class="btn btn-primary">Login</a>
</body>
</html>