<table class="sleep-table">
	<thead>
		<tr>
			<th>Date</th>
			<th>Sleep time</th>
		</tr>
	</thread>
	<tbody>
		<% for (var i=0; i<items.length; i++) { %>
			<tr>
				<td><%= items[i].date %></td>
				<td><%= items[i].title %></td>
			</tr>
		<% } %>
	</tbody>
</table>
