<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<html lang="en">
<head>
  <title>Jolly Up Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#">Jawbone Data Website</a>
    		</div>
    		<div>
      			<ul class="nav navbar-nav">
        			<li><a href="/dashboard">Dashboard</a></li>
        			<li class="active"><a href="/sleepdata">Sleep Data List</a></li>
        			<li><a href="#">Page 2</a></li>
        			<li><a href="#">Page 3</a></li>
      			</ul>
    		</div>
  		</div>
	</nav>
	<table class="table table-striped">
		<thead>
			<tr>
				<th class = "test">Date</th>
				<th>Sleep time</th>
				<th>Fell Asleep</th>
				<th>Woke Up</th>
			</tr>
		</thread>
		<tbody>
			<% for (var i=0; i<items.length; i++) { %>
				<tr>
					<td><%= items[i].date %></td>
					<td><%= items[i].title %></td>
					<td><%= items[i].time_created %></td>
					<td><%= items[i].time_completed %></td>
				</tr>
			<% } %> 
		</tbody>
	</table>
</body>
